<!DOCTYPE html>
<html>

<head>
    <title>Tools Exchange</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" id="container">
        <div class="logo">
            <img src="img/logo.png" alt="logo" title="logo" class="responsive-img">
        </div>
        <tool-list-component v-on:showtoolinformation="showtoolinformation" ref="toollistcomponent">
        </tool-list-component>

        <tool-description-component ref="descriptioncomponent" v-on:showtoollist="showtoollist"
            v-on:showuserinfo="showuserinfo">
        </tool-description-component>

        <user-information-template ref="userinfocomponent" v-on:showtoolinformation="showtoolinformation">
        </user-information-template>
    </div>

    <script type="text/x-template" id="tool-list-template">
        <div id="tools" v-bind:class="{ hidden: shouldHide }" class="row">
            <div v-for="tool in listTools" class="col s12 m4 l6">
                <div class="bordered-card">
                    <div class="col s4"><img src="img/hammer.jpg" alt="tool" class="responsive-img"></div>
                    <div class="col s8">
                        <h2>{{ tool.name }}</h2>
                        <p>Model : {{ tool.model }}</p> 
                        <p>Serial Number : {{ tool.serial_number }}</p>
                        <button v-on:click="showTool(tool.id)">See this tool in detail</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Tool description -->
    <script type="text/x-template" id="tool-description-template">
        <div id="tool" v-bind:class="{ hidden: hide }" v-if="tool">
            <h1>{{ tool.name }}</h1>
            <button v-on:click="back">Back to the list</button>
            <div class="row">
                <div class="col s12 m9">
                    <h2>Tool information</h2>
                    <p><strong>Model:</strong> {{ tool.model }}</p>
                    <p><strong>Serial number:</strong> {{ tool.serial_number }}</p>
                    <p><strong>Description:</strong> {{ tool.description }}</p>
                    <button v-on:click="askToBorrow">Ask to borrow this tool</button>
                    <div>
                        <h2>Comments on this tool</h2>
                        <p v-if="!comments.length">No comment for this tool, be the first!</p>
                    </div>
                </div>
                <div class="col s12 m3 bordered-card" style="text-align: center; height: 410px">
                    <h2>Owner</h2>
                    <p style="color:#253c78"><i class="large material-icons">face</i></p>
                    <p>{{ owner }}</p>
                    <button v-on:click="showOwner(ownerid)">See this user in detail</button>
                </div>
            </div>
            <div class="row"><div class="col s12">
                <button v-on:click="askToBorrow">Ask to borrow this tool</button>
                <h2>All the times this tool has been borrowed</h2>
                <p v-if="!exchanges.length">No one has borrow this tool yet, be the first!</p>
                <button v-on:click="askToBorrow">Ask to borrow this tool</button>
            </div></div>
        </div>
    </script>

    <!-- User description -->
    <script type="text/x-template" id="user-information-template">
        <div id="user" v-bind:class="{ hidden: hide }" v-if="user">
            <h1>{{ name }}</h1>
            <div class="row">
                <button v-on:click="back">Back to the tool</button>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Member since:</strong> {{ user.created_at }}</p>
            </div>
            <div class="row">
                <h2>Comments on this user</h2>
                <p v-if="!comments.length">No comment for this tool, be the first!</p>
            </div>
        </div>
    </script>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>